@charset "utf-8";

/* Table Of Content
-----------------------------------------------------
01. Common Styles
02. Global classes
    02.1 Button
03. Uikit overide
04. Header
    04.1 Navbar
    04.2 Offcanvas Menu
05. Slider
06. Masthead Section
07. Boxed Layout
08. Side Menu
09. About Section
10. Counter
11. footer
12. Portfolio
13. Team Member
14. Pricing Table
15. Testimonial
16. Blog Post
17. Contact
18. Home Light
19. Home Dark
20. Preloader
21. Responsive Media
-----------------------------------------------------
*/

@import url("https://fonts.googleapis.com/css?family=Poppins:500,600|Roboto:300,400,500");

/*-----------------------------------
    01. Common Styles              
-------------------------------------*/
body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #797979;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #232323;
}
p {
  color: #797979;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 26px;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.clr {
  clear: both;
}
section {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes autofill {
  to {
    color: #999;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

/*-------------------------
    02. Global classes
---------------------------*/
.sec-color {
  background-color: #f8f4eb;
}
.bg-white {
  background-color: #fff;
}
.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.bg-gray {
  background-color: #f3f3f3;
}
.bg-pattern1 {
  background-image: url(../images/bg/p1.png);
}
.bg-pattern2 {
  background-image: url(../images/bg/p2.png);
  background-size: cover;
}
.bg1 {
  background-image: url(../images/bg/bg1.jpg);
  background-size: contain;
}
.bg2 {
  background-image: url(../images/bg/bg2.jpg);
}
.white-color {
  color: white !important;
}
.bg-black {
  background: #1a1a1a;
}
.bg-fixed {
  background-attachment: fixed;
}
.sec-spacer {
  padding: 100px 0 105px;
}
.spacer1 {
  height: 20px;
}
.spacer30 {
  height: 30px;
}
.spacer2 {
  height: 45px;
}
.spacer3 {
  height: 60px;
}
.spacer4 {
  height: 80px;
}
.no-margin {
  margin: 0 !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
.scroll-bottom {
  display: inline-block;
  border: 1px solid #ddd;
  height: 70px;
  width: 70px;
  font-size: 26px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
}

/*new added*/
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}

/*--------------------------
    02.1 Button
---------------------------*/
.readon {
  position: relative;
  background: transparent;
  text-align: center;
  background: rgba(226, 255, 96, 0.5);
  border: 4px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 4px 4px 0px 0px;
  min-width: 156px;
  padding: 14px 26px 12px;
  font-size: 14px;
  display: inline-block;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #444;
  text-transform: uppercase;
  font-weight: 500;
}
.readon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(226, 255, 96, 0.9);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s, background 0.4s;
  transition: transform 0.4s, opacity 0.4s, background 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.readon,
.readon:before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.readon:hover {
  color: #000;
  text-decoration: none;
  background: rgba(226, 255, 96, 0.9);
  box-shadow: none;
}
.readon:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(226, 255, 96);
  transform: translate3d(226, 255, 96);
}
.readon.white {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.5);
}
.readon.white:hover {
  color: #444;
}
.readon.white:hover:before {
  background: #fff;
}
.readon.pill {
  border-radius: 5px;
}
.readon.pill:before {
  border-radius: 40px;
}
.readon.round {
  border-radius: 6px;
}
.readon.round:before {
  border-radius: 6px;
}

.tc-heading {
  margin-bottom: 70px;
}
.tc-heading h3 {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 6px;
}
.tc-heading h2 {
  font-size: 34px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 0;
}

/*new added*/
.btn-right {
  float: right;
}

.web-arrow {
  font-weight: bold !important;
  padding-left: 10px;
}

/*-------------------------
    03. Uikit overide
---------------------------*/
.tc-dotnav > * {
  padding-left: 10px;
}
.tc-dotnav > * > * {
  width: 8px;
  height: 8px;
  border-radius: 6px;
  -webkit-transition: all 0.3s cubic-bezier(0.76, 0.29, 0.77, 0.3);
  transition: all 0.3s cubic-bezier(0.76, 0.29, 0.77, 0.3);
}
.tc-dotnav.tc-dotnav > * > :active,
.tc-dotnav > .uk-active > * {
  width: 30px;
}
.has-caption.uk-progress {
  overflow: visible;
  margin: 35px 0px;
}
.has-caption .uk-progress-bar {
  position: relative;
}
.has-caption .uk-progress-bar > span {
  position: absolute;
  top: -24px;
  color: #444;
}
.has-caption .uk-progress-bar > span.name {
  left: 0;
}
.has-caption .uk-progress-bar > span.percent {
  right: 0;
}
.uk-navbar-brand,
.uk-navbar-content,
.uk-navbar-toggle {
  height: 80px;
}
.tc-accordion h3 {
  padding: 12px 40px 12px 18px;
  background: rgba(50, 50, 50, 0.1);
}
.uk-button {
  border: 1px solid rgba(30, 30, 30, 0.04);
}
.uk-modal-dialog-lightbox .uk-modal-caption {
  bottom: 0;
  margin-bottom: 0;
  background: #1a1a1a;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
.uk-modal-dialog .uk-close {
  color: rgba(0, 0, 0, 0.7) !important;
  background: rgba(255, 255, 255, 0.5);
  top: 0 !important;
  right: 0 !important;
  border-radius: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 300;
}
.uk-slidenav-position {
  overflow: hidden;
}
.uk-slidenav-position .uk-slidenav {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  height: 52px;
  width: 52px;
  border: 4px solid #333;
}
.uk-slidenav-position .uk-slidenav:hover:hover {
  background-color: rgba(0, 0, 0, 1);
}
.uk-slidenav-position .uk-slidenav-next:before {
  left: 3px;
  position: relative;
}

/*new added*/
canvas {
  position: absolute;
  /* top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; */
}
@media (min-width: 1220px) {
  .tc-portfolio-single .uk-grid.snapshot > * {
    padding-left: 0;
  }
}

/*--------------------------
    04. Header
---------------------------*/
.tc-header {
  position: absolute;
  max-width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.tc-header .uk-sticky-placeholder .tc-top-block.uk-active {
  background: #1a1a1a;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  z-index: 11;
}
.tc-header .tc-navbar .uk-navbar-nav > li:last-child > a {
  padding-right: 0;
}
.tc-header .tc-navbar .uk-navbar-nav > li > a {
  height: 70px;
  line-height: 70px;
  font-family: "arial", sans-serif;
  cursor: pointer;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1.5px;
  position: relative;
  font-weight: 600;
}
.tc-header .tc-navbar .uk-navbar-nav > li > a:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: rgba(255, 255, 255, 0.7);
  top: calc(50% + 20px);
  left: 10px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.tc-header .tc-navbar .uk-navbar-nav > li.uk-active > a:after,
.tc-header .tc-navbar .uk-navbar-nav > li:hover > a:after {
  width: 32px;
}
.tc-header .tc-navbar .uk-navbar-nav > li .uk-dropdown-navbar {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}
.tc-header .tc-logo {
  float: left;
  line-height: 70px;
  padding-top: 1rem;
}
.tc-header .tc-logo a {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.tc-header
  .uk-sticky-placeholder
  .tc-top-block.uk-active
  .tc-navbar
  .uk-navbar-nav
  > li
  .uk-dropdown-navbar {
  background: #1a1a1a;
}
.header-style2 {
  background: transparent;
}
.header-style2 .tc-navbar .uk-navbar-nav > li > a:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  background-color: rgba(255, 255, 255, 0.5);
  left: 10px;
  bottom: 25px;
  margin-top: -10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-style2 .tc-navbar .uk-navbar-nav > li:hover > a:after {
  width: 40%;
}
.header-style2 .tc-navbar .uk-navbar-nav > li.uk-active > a:after {
  width: 70%;
}
.tc-off-toggle {
  float: right;
  font-size: 26px;
  padding-right: 0;
  color: #efefef;
  font-weight: 300;
  height: 70px;
}
.tc-off-toggle:hover,
.tc-off-toggle:focus {
  color: #fff;
}
.home-light .tc-header .tc-navbar .uk-navbar-nav > li .uk-dropdown-navbar {
  background: rgba(0, 0, 0, 1);
}
.home-light .tc-off-toggle {
  color: #232323;
}

/* new added*/

.logo {
  width: auto;
  height: 4rem;
}

.logo-sm {
  width: auto;
  height: 2.5rem;
}

/*--------------------------
    04.1 Navbar
---------------------------*/
.tc-navbar {
  background: transparent;
  text-align: center;
}
.tc-navbar .uk-navbar-nav {
  float: right;
}
.tc-navbar .uk-navbar-nav > li {
  float: none;
  display: inline-block;
}
.tc-navbar .uk-navbar-nav > li > a {
  padding: 0 10px;
  background: transparent;
  font-size: 12px;
  text-transform: uppercase;
}
.tc-header .uk-navbar-nav div.uk-dropdown {
  text-align: left;
}
.tc-navbar .uk-navbar-nav > li > a:hover,
.tc-navbar .uk-navbar-nav > li > a:focus,
.tc-navbar .uk-navbar-nav > li.uk-active > a {
  color: #f5f5f5;
}
.tc-navbar .uk-navbar-nav > li .uk-dropdown-navbar {
  padding: 18px 30px;
  margin-top: 0;
}
.tc-navbar .uk-dropdown-navbar .uk-nav > li > a {
  font-size: 11px;
  color: #a5a5a5;
  text-transform: uppercase;
  padding: 5px 12px;
  border-radius: 4px;
  letter-spacing: 1px;
}
.tc-navbar .uk-dropdown-navbar .uk-nav > li + li > a {
  margin-top: 6px;
}
.tc-navbar .uk-nav-navbar > li > a:focus,
.tc-navbar .uk-nav-navbar > li > a:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
}
/*new added*/
.nav-outter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nav-item1 {
  flex-grow: 8;
}
.nav-item2,
.nav-item3 {
  flex-grow: 1;
}
.nav-socials {
  display: block;
  line-height: 70px;
  padding-left: 20px;
}

.mob-socials {
  display: none;
  line-height: 70px;
}

.nav-socials ul,
.mob-socials ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-socials ul li,
.mob-socials ul li {
  display: inline;
  padding-left: 10px;
}

.uk-container-header {
  max-width: 1800px;
}

/*--------------------------
    04.2 Offcanvas Menu
---------------------------*/

#tc-offcanvas .uk-nav-offcanvas {
  margin: 50px 0;
}
#tc-offcanvas .uk-offcanvas-bar {
  background: #1a1a1a;
}
#tc-offcanvas .uk-nav-offcanvas > li > a {
  color: rgba(255, 255, 255, 0.7);
  padding: 12px 20px;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#tc-offcanvas .uk-nav-offcanvas > li:nth-child(n + 2) > a {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#tc-offcanvas ul.uk-nav-sub {
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#tc-offcanvas .uk-nav-sub li a {
  padding: 12px 30px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
#tc-offcanvas .uk-nav-sub li:nth-child(n + 2) > a {
  border-top: 1px solid rgba(255, 255, 255, 0.04);
}
#tc-offcanvas .uk-nav-offcanvas .uk-parent {
  position: relative;
}
#tc-offcanvas .uk-nav-offcanvas .uk-parent:after {
  position: absolute;
  font-family: fontAwesome;
  content: "\f107";
  font-size: 23px;
  right: 19px;
  top: 10px;
  pointer-events: none;
  transition: 0.3s ease all;
}
#tc-offcanvas .uk-nav-offcanvas .uk-parent.uk-open:after {
  content: "\f106";
}

/*--------------------------
    05. Slider
---------------------------*/
.tc-slider {
  overflow: hidden;
}
.sldr-title-large {
  font-size: 48px;
  line-height: 1.3;
}
.sldr-pgraph {
  padding-top: 16px;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.7);
}
.sldr-title-medium {
  font-size: 36px;
  line-height: normal;
}
.tc-slider .readon.large {
  padding: 20px 26px;
  font-size: 18px;
}
.tc-slider .down-arrow {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -35px;
  -webkit-animation-name: uk-fade-top;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: uk-fade-top;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}
.tc-slider .down-arrow a {
  color: #fff;
  display: inline-block;
  z-index: 1;
  font-size: 42px;
  text-decoration: none;
}

/* new added*/
.container-mid {
  width: 46%;
  background: #fff;
  padding: 0;
  height: fit-content;
  margin: auto;
  border: 4px solid #000;
  border-radius: 5px;
  box-shadow: 4px 4px 0 0 #000;
}

.half-highlight {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 90%,
    rgba(0, 0, 0, 0.9) 10%
  );
}
.thin-highlight {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 90%,
    rgba(0, 0, 0, 0.9) 10%
  );
}
.title-bar {
  -webkit-box-pack: justify;
  background-color: orange;
  border-bottom: 5px solid rgb(0, 0, 0);
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 4rem;
  padding: 7px 11px;
}
/*--------------------------
    06. Masthead Section
---------------------------*/
.tc-masthead {
  padding: 150px 0;
  text-align: center;
}

.tc-breadcrumb {
  color: #959595;
  padding-left: 0;
  margin: 0;
  font-size: 15px;
}
.tc-breadcrumb li {
  display: inline-block;
  list-style-type: none;
  position: relative;
}
.tc-breadcrumb li + li {
  padding-left: 12px;
  margin-left: 5px;
}
.tc-breadcrumb li + li:before {
  content: "\f105";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: FontAwesome;
}
.tc-breadcrumb li a {
  color: #232323;
}

/*--------------------------
    07. Boxed Layout
---------------------------*/
.layout-boxed .layout-wrap {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/*--------------------------
    08. Side Menu
---------------------------*/
.side-menu {
  position: fixed;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 11;
}

/*--------------------------
    09. About Section
---------------------------*/

.tc-about .about-title h3 {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 6px;
}
.tc-about .about-title h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 36px;
  line-height: 46px;
}

/*--------------------------
    10. Services Section
---------------------------*/
.tc-service-style1 .services-item {
  background: #fff;

  margin: 0 1px;
  border: 4px solid #000;
  border-radius: 5px;
}
.tc-service-style1 .services-item .title {
  display: flex;
  font-size: 28px;
  padding: 22px;
  background: #13a1d7;
  padding: 0px 20px;
  align-items: center;
  transition: 0.25s all ease;
  border-bottom: 4px solid #000;
}

.tc-service-style1 .services-item h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}
.tc-service-style1 .services-item h3 a {
  text-decoration: none;
  color: #232323;
}
.tc-service-style1 .services-item p {
  font-size: 14px;
  margin: 0;
  padding: 20px;
}

.tc-service-style1 .services-item:hover .title {
  background: rgba(19, 161, 215, 0.7);
}

/*new added*/

/*-------------------------
    10. Counter
---------------------------*/
.tc-counter .counter-item {
  text-align: center;
}
.tc-counter .counter-item i {
  display: inline-block;
  font-size: 52px;
}
.tc-counter .counter {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin: 20px 0 15px;
}
.tc-counter .counter-title {
  font-size: 16px;
  margin: 0;
  letter-spacing: 1px;
  color: #9e9e9e;
}
.tc-counter .uk-grid [class*="uk-width-"] {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

/*--------------------------
    11. footer
---------------------------*/
.tc-footer {
  position: relative;
  background: #232323;
  padding-top: 0;
  font-size: 13px;
}
.tc-footer .copyright {
  color: #bbb;
}
.tc-footer .uk-subnav > * {
  margin-top: 0;
}
.tc-footer .uk-subnav a {
  color: #bbb;
}
.tc-footer .uk-subnav a:hover,
.tc-footer .uk-subnav a:active,
.tc-footer .uk-subnav a:focus {
  color: #ccc;
  text-decoration: underline !important;
}
.tc-footer .tc-totopscroll {
  position: absolute;
  z-index: 11;
  top: 50%;
  right: 0;
  height: 36px;
  width: 36px;
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  background-color: #292929;
  color: #bbb;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.tc-footer .tc-totopscroll:hover {
  background-color: #333;
}
.tc-footer .tc-totopscroll i {
  margin-left: 3px;
}

/*--------------------------
    12. Portfolio
---------------------------*/
div[class*="filter-"] ul li {
  display: inline-block;
}
.filter-style1 {
  text-align: center;
  overflow: hidden;
  margin-bottom: 45px;
}
.filter-style1 ul {
  position: relative;
  padding: 0 40px;
  display: inline-block;
}
.filter-style1 ul li a {
  display: inline-block;
  padding: 5px 17px;
  border-radius: 4px;
  color: #797979;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s all ease;
}
.filter-style1 ul li.uk-active a,
.filter-style1 ul li a:hover {
  background: rgba(226, 255, 96, 0.9);
  color: #232323;
  font-weight: 500;
  box-shadow: rgb(0, 0, 0) 2px 2px 0px 0px;
  border-radius: 4px;
  border: 2px solid #000;
}
.tc-works .pfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 4px solid #000;
}
.tc-works .pfolio-item img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tc-works .pfolio-item .caption {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  right: 25px;
  width: calc(100% - 40px);
  left: 25px;
}
.tc-works .pfolio-item:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.tc-works .pfolio-item:hover:after {
  opacity: 1;
}
.tc-works .pfolio-item .caption h3 {
  font-size: 17px;
  padding-top: 12px;
  margin-bottom: 2px;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.tc-works .pfolio-item .caption h3 a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: 0.3s ease color;
}
.tc-works .pfolio-item .caption h3 a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.tc-works .pfolio-item .caption p {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 13px;
  margin: 0;
}
.tc-works .pfolio-item:hover .caption h3,
.tc-works .pfolio-item:hover .caption p {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.tc-works .pfolio-item .link-wrap {
  position: absolute;
  top: 43%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
}
.tc-works .pfolio-item .link-wrap a {
  display: inline-block;
  height: 46px;
  width: 46px;
  line-height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: transform 0.4s ease-in-out, background-color 0.3s ease;
  transition: transform 0.4s ease-in-out, background-color 0.3s ease;
}
.tc-works .pfolio-item .link-wrap a:first-child {
  transform: translateY(-30px);
  margin-right: 4px;
}
.tc-works .pfolio-item .link-wrap a:last-child {
  transform: translateY(-60px);
  margin-left: 4px;
}
.tc-works .pfolio-item:hover .link-wrap a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.tc-works .pfolio-item .link-wrap a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
}
.tc-portfolio-single {
  padding: 100px 0;
}

.tc-portfolio-single .ps-info .ps-title {
  font-size: 28px;
  line-height: 1.3;
  margin: 0 0 25px 0;
}
.tc-portfolio-single .ps-info .ps-title span {
  font-size: 28px;
  line-height: 1.3;
  margin: 0 0 25px 0;
}
.ps-info p {
  font-size: 18px;
}
.tc-portfolio-single .ps-fild-item + .ps-fild-item {
  margin-top: 25px;
}
.tc-portfolio-single .ps-extra-fild-item h5,
.tc-portfolio-single .ps-fild-item h5 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 700;
}
.tc-portfolio-single .ps-extra-fild-item p,
.tc-portfolio-single .ps-fild-item p {
  margin: 0;
  font-size: 14px;
}
.tc-portfolio-single .ps-extra-fild-item a,
.tc-portfolio-single .ps-fild-item a {
  display: inline-block;
  font-size: 13px;
  color: #444;
  padding-right: 10px;
}
.tc-portfolio-single img {
  border-radius: 4px;
}
/*new added*/
.pf-info {
  margin-top: 100px;
}
.pf-info .bs-title {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 93%,
    rgba(41, 41, 41, 0.9) 7%
  );
}
.pf-info .bs-title h3 {
  font-size: 24px;
  line-height: 1.2;
  color: #232323;
}

.snapshot {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 30px;
  margin-left: 0;
}

.title-number {
  background: rgba(226, 255, 96, 0.9) 90%;
  color: #232323;
  padding: 4px;
  border-radius: 4px 4px 0 0;
  border: 4px solid #000;
}

.pf-info .services-item {
  padding: 30px;
  margin: 0 1px;
  border: 1px solid #e9e9e9;
  height: 100%;
}

.pf-info .services-item i {
  font-size: 20px;
  padding: 16px;
  border-radius: 50%;
  background: #232323;
  color: #fff;
  display: inline-block;
  transition: 0.25s all ease;
}

.pf-info p,
.pf-info li {
  font-size: 16px;
  line-height: 1.7;
}
.pf-info .new-bullet p {
  margin-top: 2px;
}

.pf-info h5 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

.more-click {
  text-align: right;
  vertical-align: middle;
  align-content: center;
}
.more-click a {
  margin: 0 5px;
}
.pf-info h3 {
  color: #555;
}

.circle-num {
  font-size: 20px;
  padding: 12px 16px;
  border-radius: 50%;
  background: #232323;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  transition: 0.25s all ease;
}

.top-space div {
  margin-top: 16px;
}
/* password protected*/
.pass-input {
  border-radius: 6px;
  padding: 8px 16px;
  width: 100%;
}
.close-btn {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
button {
  color: #232323;
  background: rgba(226, 255, 96, 0.9);
  border-radius: 6px;
  padding: 8px 20px;
  border: 1px solid rgba(226, 255, 96, 0.9);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
.password-main {
  position: relative;
  width: 100%;
  height: inherit;
}
.password-inner {
  position: absolute;
  display: flex;
  padding: 3.5em 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #080808;
  text-align: center;
}
.password-inner h3,
.password-inner .uk-icon-close {
  color: #fff;
}
.invalid {
  color: #b75b5b;
  font-size: 14px;
  padding-bottom: 4px;
}
.middle {
  align-content: center;
}

.width50 {
  width: 50%;
}
.center {
  text-align: center;
}

/*--------------------------
    13. Team Member
---------------------------*/
.tc-team .title {
  position: relative;
}
.tc-team .title:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background: #1a1a1a;
  top: 26px;
}
.tc-team .content {
  font-size: 12px;
}
.tc-team .team-photo {
  overflow: hidden;
}
.tc-team .team-photo img {
  -webkit-transform: scale(1);
  transform: scale(1);
  border-radius: 50%;
  padding: 20px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.tc-team .team-style1:hover .team-photo img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0.8;
}
.tc-team .team-info {
  text-align: center;
}
.tc-team .position .name {
  margin-top: 12px;
  margin-bottom: 2px;
}
.tc-team .position .meta {
  font-size: 12px;
  letter-spacing: 2px;
  color: #9e9e9e;
}
.tc-team .position p {
  font-size: 13px;
}
.tc-team .social-icon ul {
  list-style: none;
  padding: 0;
  position: relative;
}
.tc-team .social-icon li {
  display: inline-block;
}
.tc-team .social-icon li a {
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border: 1px solid #eee;
  text-align: center;
  transition: all 0.3s ease;
  margin: 2px;
  border-radius: 50%;
}
.tc-team .social-icon li a:hover {
  background: #1a1a1a;
}
.tc-team .social-icon li:hover a {
  color: #fff;
}
.tc-team .social-icon li a {
  color: #1a1a1a;
}

/*-----------------------------
    14. Pricing Table
-------------------------------*/
.tc-pricing .pricing-plan {
  padding: 60px 30px;
  border: 4px solid #000;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
}
.tc-pricing .pricing-head {
  position: relative;
  text-align: center;
  padding: 25px 40px 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-pricing .pricing-head .price-badge {
  position: absolute;
  top: -31px;
  z-index: 10;
  left: 50%;
  background-color: #ff0000;
  color: #fff;
  font-size: 13px;
  padding: 2px 12px;
  font-weight: bold;
  transform: translateX(-50%);
  border-radius: 0 0 4px 4px;
}
.tc-pricing .pricing-head .name {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  width: 100%;
  margin-bottom: 8px;
  padding-bottom: 25px;
  border-bottom: 3px solid #000;
}
.tc-pricing .pricing-head .price {
  color: #232323;
  font-size: 28px;
  padding: 15px 0;
}
.tc-pricing .pricing-head .duration {
  font-size: 13px;
  text-transform: uppercase;
}
.tc-pricing .pricing-body ul {
  padding: 0;
  font-size: 15px;
  list-style-type: none;
  text-align: center;
  overflow-y: auto;
  max-height: 175px;
}
.tc-pricing .pricing-body li + li {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}
.tc-pricing .pricing-footer {
  text-align: center;
  margin-top: 36px;
}
.tc-pricing .pricing-footer .button {
  position: relative;
  color: #232323;
  text-decoration: none;
  border: transparent;
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.tc-pricing .pricing-footer .button:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #444;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.tc-pricing .pricing-footer .button:hover:after {
  width: 100%;
}

/*-----------------------------
    15. Testimonial
-------------------------------*/
.tc-testimonial .tm-item {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.tc-testimonial .tm-item i {
  display: inline-block;
  font-size: 24px;
  padding: 20px;
  color: #333;
  border: 4px solid #333;
}
.tc-testimonial .testi-desc {
  margin: 30px 0;
}
.tc-testimonial .testi-desc p {
  font-size: 19px;
  line-height: 29px;
  margin: 0;
}
.tc-testimonial .tm-item .testi-info h4 {
  color: #444;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
.tc-testimonial .tm-item .testi-info p {
  margin: 0;
}
.tc-testimonial .tm-item .testi-info p a {
  color: inherit;
}

/*-----------------------
    16. Blog Post
------------------------*/
.post-grid-content {
  padding: 22px;
  background-color: #f8f4eb;

  transition: 0.3s box-shadow ease;
}
.post-grid-item {
  border-radius: 4px;
  overflow: hidden;
}
.post-grid-img {
  overflow: hidden;
  border-bottom: 4px solid #000;
}
.post-grid-img img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.post-grid-item:hover .post-grid-img img {
  opacity: 0.7;
}
.post-grid-title {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0;
  font-weight: 600;
}
.post-grid-title a {
  color: #222;
  text-decoration: none;
}
.post-grid-title a:hover {
  color: #555;
}
.post-grid-meta {
  list-style-type: none;
  margin: 5px 0;
  font-size: 13px;
  padding: 0;
}
.post-grid-meta * {
  color: #666;
}
.post-grid-meta li {
  display: inline-block;
  position: relative;
}
.post-grid-meta li + li {
  padding-left: 7px;
  margin-left: 4px;
}
.post-grid-meta li + li:after {
  position: absolute;
  content: "";
  background: #666;
  height: 1px;
  width: 5px;
  top: 50%;
  left: -2px;
}
.post-grid-desc {
  margin-top: 12px;
}
.post-grid-footer {
  margin-top: 17px;
}
.post-grid-footer a {
  font-size: 13px;
  color: #232323;
  text-transform: uppercase;
}
.tc-blog-single {
  padding: 100px 0;
}
.tc-blog-single .post-img img {
  border-radius: 4px;
}
.tc-blog-single .bs-info {
  margin-top: 34px;
}
.tc-blog-single .bs-title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.blockquote {
  padding-left: 30px;
  border-left: 5px solid #444;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
.tc-blog-single .bs-meta {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
  color: #888;
}
.tc-blog-single .bs-meta li {
  display: inline-block;
  line-height: 10px;
}
.tc-blog-single .bs-meta li + li {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}
.tc-blog-single .bs-meta li a {
  color: #888;
}
.tc-blog-single .related-post .blog-content {
  text-align: left;
}
.author-block {
  padding: 35px;
  border: 1px solid #f5f5f5;
}
.author-block h3 {
  margin-bottom: 7px;
  margin-top: 4px;
}
.author-block a {
  color: #666;
}
.comment-block .uk-comment {
  padding: 25px;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  margin-bottom: 35px;
}
.comment-block .uk-comment .comment-reply a {
  color: #777;
}
.ps-navigation {
  padding: 0;
  margin-top: 80px;
  list-style-type: none;
}
.ps-navigation li:first-child {
  float: left;
}
.ps-navigation li:last-child {
  float: right;
}
.ps-navigation a {
  color: #777;
  font-size: 16px;
}
.tc-search .search {
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  padding: 5px 15px;
  outline: none;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.tc-search .uk-search {
  position: relative;
}
.tc-search .uk-search:after {
  content: "\f002";
  font-family: fontAwesome;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}
.tc-caterories ul {
  padding-left: 0;
  list-style-type: none;
}
.tc-caterories ul li + li {
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid #f5f5f5;
}
.tc-caterories ul li a {
  color: #777;
}
.tc-latest-post .post-item + .post-item {
  margin-top: 35px;
}
.tc-latest-post .post-desc {
  padding: 15px;
}
.tc-latest-post .post-desc .title {
  display: block;
  font-size: 16px;
  color: #444;
  line-height: 1.4;
}
.tc-latest-post .post-desc span {
  display: block;
  font-size: 11px;
  color: #888;
  line-height: 1.2;
}
.tc-tags a {
  display: inline-block;
  margin: 0 3px 7px 0;
  line-height: 20px;
  padding: 4px 12px;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #eee;
  color: #444;
}
.tc-tags a:hover {
  opacity: 0.8;
}
.tc-blog-single .tc-contact {
  padding: 35px;
  border-radius: 6px;
}
.tc-blog-single .tc-contact .title1 {
  color: #fff;
  margin-bottom: 40px;
}

/*-----------------------------
    17. Contact
-------------------------------*/
.tc-contact {
  background-color: #252525;
}
.tc-contact-bg {
  background-color: #fff;
}
.tc-contact .tc-heading h3 {
  color: #bbb;
}

.tc-contact .contact-info {
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
}
.tc-contact .contact-info i {
  font-size: 22px;
  display: inline-block;
  color: #777;
  width: 30px;
  text-align: left;
}
.tc-contact .contact-info p {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 17px;
}
.tc-contact .form-field {
  margin-bottom: 31px;
}
.tc-contact .form-field input {
  background: transparent !important;
  width: 100%;
  height: 50px;
  padding: 5px 20px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(69, 69, 69, 0.5);
  border-radius: 40px;
  color: #999;
}
.tc-contact .form-field textarea {
  background: transparent;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(69, 69, 69, 0.5);
  border-radius: 10px;
  color: #999;
}
.tc-contact .form-field input:focus,
.tc-contact .form-field textarea:focus {
  border-color: rgba(69, 69, 69, 0.7);
  outline: none;
  color: #494949;
}
.tc-contact .form-button {
  text-align: center;
  margin-top: 15px;
}
.tc-contact .form-button button {
  font-family: "Roboto", sans-serif;
  line-height: normal;
  height: 50px;
  cursor: pointer;
  min-width: 193px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #232323;
  color: #444;
  transition: 0.3s border-color ease;
  font-weight: 500;
}
.tc-contact .form-button button:hover {
  border-color: #232323;
  color: #fff;
}
.tc-contact .form-button .readon:before {
  background-color: #232323;
}

.tc-contact ::placeholder {
  color: #999;
  opacity: 1;
}
.tc-contact :-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.tc-contact ::-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.tc-contact .success {
  padding: 12px 20px;
  margin-bottom: 30px;
  background: #8bc34a;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  transition: 0.3s ease all;
}
.tc-contact .error {
  padding: 12px 20px;
  margin-bottom: 30px;
  background: #f44336;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  transition: 0.3s ease all;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  color: #999 !important;
}
/* new added*/
.contact-outter {
  display: flex;
  align-items: center;
}

.footer .uk-grid > * {
  padding-left: 20px;
  padding-top: 10px;
}

.footer h3 {
  letter-spacing: 3px;
}

.email-container {
  position: relative; /* Make the container relative for tooltip positioning */
}

.tooltip {
  position: absolute;
  top: 100%; /* Position tooltip below the email address */
  left: 10%;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.tooltip.show {
  opacity: 1;
  pointer-events: auto;
}

.tc-contact a {
  color: #797979;
}

.relative {
  position: relative;
}
.contacts {
  border: 4px solid #000;
  border-radius: 8px;
  padding: 2em 1em;
  background: #f8f4eb;
}

/* -------------------------
    18. Home Light
---------------------------- */
.home-light .tc-header {
  position: initial;
}
.home-light .tc-header .tc-logo a,
.home-light .tc-header .tc-navbar .uk-navbar-nav > li > a,
.home-light .sldr-title-large {
  color: #232323;
}
.home-light .tc-header .tc-navbar .uk-navbar-nav > li > a:after {
  background-color: #232323;
}
.home-light .sldr-pgraph {
  color: #797979;
}
.home-light .tc-header .uk-sticky-placeholder .tc-top-block.uk-active {
  background: #fff;
}
.home-light .tc-slider .down-arrow a {
  color: #232323;
}

/* -------------------------
    19. Home Dark
---------------------------- */
.home-dark p {
  color: #999;
}
.home-dark {
  background-color: #2a2a2a;
}
.home-dark .sec-color {
  background-color: #232323;
}
.home-dark .tc-about .about-title h3,
.home-dark .tc-heading h3 {
  color: #999;
}
.home-dark .tc-about .about-title h2,
.home-dark .tc-heading h2 {
  color: #fff;
}
.home-dark .readon {
  border-color: rgba(255, 255, 255, 0.4);
  color: #999;
}
.home-dark .readon:hover {
  border-color: #444;
  color: #aaa;
}
.home-dark .readon:before {
  background-color: #444 !important;
}
.home-dark .tc-service-style1 .services-item {
  background: #232323;
  border-color: #232323;
}
.home-dark .tc-service-style1 .services-item i {
  background: #2a2a2a;
  color: #999;
}
.home-dark .tc-service-style1 .services-item:hover i {
  background: #333;
  color: #eee;
}
.home-dark .tc-service-style1 .services-item h3 a {
  color: #fff;
}
.home-dark .tc-team .position .name {
  color: #fff;
}
.home-dark .tc-team .social-icon li a {
  color: #999;
  border-color: #999;
}
.home-dark .tc-team .social-icon li a:hover {
  background: #eee;
  color: #232323;
}
.home-dark .tc-pricing .pricing-plan {
  background-color: #232323;
  border-color: #232323;
  color: #999;
}
.home-dark .tc-pricing .pricing-head .name {
  color: #fff;
}
.home-dark .tc-pricing .pricing-head .price {
  color: #bbb;
}
.home-dark .tc-pricing .pricing-body li + li {
  border-color: rgba(255, 255, 255, 0.05);
}
.home-dark .tc-pricing .pricing-head .name {
  border-color: rgba(255, 255, 255, 0.05);
}
.home-dark .tc-pricing .pricing-footer .button {
  color: #fff;
}
.home-dark .tc-pricing .pricing-footer .button:after {
  background-color: #fff;
}
.home-dark .tc-testimonial .tm-item i {
  background-color: #2a2a2a;
  color: #fff;
}
.home-dark .tc-testimonial .tm-item .testi-info h4 {
  color: #fff;
}
.home-dark .tc-blog .post-grid-content {
  background-color: #232323;
  border: 1px solid #232323;
}
.home-dark .tc-blog .post-grid-title a {
  color: #fff;
}
.home-dark .tc-blog .post-grid-meta * {
  color: #999;
}
.home-dark .tc-blog .post-grid-footer a {
  color: #999;
}

/*-----------------------------
    20a. Journey
-------------------------------*/
.year-line {
  width: 100%;
  height: 1px;
  background: #232323;
  display: block;
}
.mid-line {
  position: relative;
}
.mid-line:after {
  content: "";
  height: 95%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  background-color: #232323;
  box-sizing: border-box;
  display: block;
}
.square-left {
  background: #13a1d7;
  height: 20px;
  left: -45px;
  position: absolute;
  top: 25px;
  width: 20px;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #000;
}
.square-right {
  background: #108f1d;
  height: 20px;
  right: -45px;
  position: absolute;
  top: 25px;
  width: 20px;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #000;
}
.extra-right-padding {
  padding: 0 35px 0 0;
}

.extra-left-padding {
  padding: 0 0 0 35px;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #232323;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 30px;
  position: relative;

  width: 48%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -17px;
  background-color: #232323;
  top: 15px;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -3px;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -30px;
}

/* The actual content */
.content {
  position: relative;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/*----------------------------
19.b marquee image
-------------------------------*/

.image-container {
  overflow-x: hidden;
  max-width: 768px;
}
.image-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(
    (100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view)
  );
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
  transition: 0.3s;
}
.image-wrapper > * {
  aspect-ratio: 4 / 3;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.tc-pricing p,
#tc-about p,
.sldr-pgraph,
.tc-service-style1 .services-item p {
  font-family: "Roboto Mono", monospace;
}
/*-----------------------------
    20. Preloader
-------------------------------*/
#tc-loader {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  z-index: 9999999;
}
.tc-loader .load-inner {
  position: absolute;
  width: 77px;
  height: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tc-loader .tcload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}
.tc-loader .tcload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.tc-loader .tcload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  animation: tcload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: tcload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}
.tc-loader .tcload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
}
.tc-loader .tcload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
}
.tc-loader .tcload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
}
.tc-loader .tcload-c2:before {
  animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
}
.tc-loader .tcload-c3:before {
  animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
}
.tc-loader .tcload-c4:before {
  animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
}

@keyframes tcload-fold-thecube {
  0%,
  10% {
    transform: perspective(63px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(63px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(63px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes tcload-fold-thecube {
  0%,
  10% {
    -webkit-transform: perspective(63px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(63px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(63px) rotateY(180deg);
    opacity: 0;
  }
}

/*-----------------------------
    21. Responsive Media
-------------------------------*/
/*new added*/
@media (max-width: 1040px) {
  .sldr-title-large {
    font-size: 40px;
    line-height: 1;
    padding-bottom: 16px;
  }

  .sldr-pgraph {
    font-size: 16px;
    line-height: 1.6em;
  }
  .password-inner {
    padding: 1.5em 1em;
  }
}
@media (min-width: 960px) {
  .uk-grid-divider
    > [class*="uk-width-large-"]:not(.uk-width-large-1-1):nth-child(n + 2) {
    border-left: 1px solid rgba(221, 221, 221, 0.2);
  }
}
@media (max-width: 767px) {
  .sppb-addon-image-content .sppb-image-holder {
    position: inherit;
    width: 100% !important;
    height: 300px;
  }
  .tc-footer {
    font-size: 11px;
  }
  .tc-slider {
    zoom: 0.7;
  }
  .tc-heading p br {
    display: none;
  }
  .tc-blog-single .tc-search {
    margin-top: 50px;
  }
  /* new added*/
  .tc-header .tc-logo {
    padding-top: 0;
  }
  .nav-socials {
    display: none;
  }
  .mob-socials {
    display: block;
  }
  .nav-item1,
  .nav-item2 {
    flex-grow: 1;
  }
  .nav-item3 {
    flex-grow: 0;
  }
  .container-mid {
    width: 100%;
  }
  .sldr-title-large {
    font-size: 32px;
    line-height: 1em;
  }
  .sldr-pgraph {
    font-size: 16px;
  }
  .tc-testimonial .testi-desc p {
    font-size: 16px;
    line-height: 24px;
  }
  .center-pic {
    text-align: center;
  }
  .mid-line:after {
    display: none;
  }
  .square-left {
    left: -35px;
  }
  .square-right {
    right: -55px;
  }
  .mob-hide {
    display: none;
  }
  .snapshot {
    padding: 30px 30px 30px 5px;
  }

  .pf-info .extra-space li {
    padding-top: 30px;
  }
  .pf-info .no-space li {
    padding-top: 0;
  }
  .title-number {
    margin-left: 10px;
  }
  .pf-info .bs-title h3,
  .pf-info h5 {
    line-height: 1.4;
  }
  .password-inner {
    padding: 5.5em 2em;
  }
  .filter-style1 ul {
    padding: 0 20px;
  }
}
@media (max-width: 420px) {
  .tc-footer .tc-totopscroll {
    top: 0;
  }
  .tc-slider {
    zoom: 0.75;
  }

  .sldr-pgraph br {
    display: none;
  }
  .sldr-para25 {
    font-size: 13px;
    line-height: normal;
  }
  .sldr-title-medium {
    font-size: 24px;
    line-height: normal;
  }
  .tc-about .about-title h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .tc-heading h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
